@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700');

$montserrat: "Montserrat", sans-serif;

$font-size-xs: 13px;
$font-size-small: 16px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-xl: 52px;

$font-weight-light: 300;
$font-weight-bold: 600;
$font-weight-xtrabold: 700;

body {
  font-family: $montserrat;
}

h1 {
  font-size: $font-size-xl;
  color: $white;
  text-align: center;
  margin-bottom: 20px;
}

p.subtitle {
  color: $white;
  text-align: center;
  font-size: $font-size-medium;
  //font-weight: $font-weight-bold;
}

h2 {
  color: $red_main;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.page-content p.small-title {
  color: $red_main;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h3 {
  color: $red_light;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  margin: 10px 0 30px;
  text-transform: uppercase;
}

p {
  color: $black;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  line-height: 25px;

  a {
    color: $red_light;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  transition: $transition;
}

a:after {
  content: '';
  display: block;
  bottom: 0;
  position: relative;
  right: 0;
  height: 3px;
  width: 100%;
  background: 0 0;
  -webkit-transition: width .5s ease, background-color .5s ease;
  -o-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

a:hover:after {
  height: 3px;
  background: $red_light;
}

a.read-more-link {
  display: block;
  max-width: 120px;
  max-width: max-content;
  color: white;
  background: $red_light;
  padding: 5px 20px;
  font-weight: $font-weight-bold;
  font-size: $font-size-xs;
  margin-top: 20px;
}

a.read-more-link:hover {
  background: $red_medium;
}

a.read-more-link:hover:after {
  content: none;
}

.page-content {
  h4 {
    color: $red_main;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.align-left {
  text-align: left;
}

.center {
  text-align: center;
}

.white {
  color: $white;
}

.no-margin {
  margin: 0;
}
