.page-contact {

  .contact-bits {
    margin-top: 20px;
    margin-bottom: 20px;

    .contact-bit {
      clear: both;
      padding: 10px 0;

      i {
        color: $red_light;
        display: inline-block;
        float: left;
        width: 40px;
      }

      p {
        position: relative;
        top: -3px;
        margin: 0;
      }
    }
  }

  .social-icons {
    a {
      background-color: $red_light;
      color: #FFF;
      text-decoration: none;
      text-align: center;
      width: 30px;
      padding: 5px;
      margin-right: 5px;
      font-size: 1.3em;

      &::after {
        display: none;
      }

      &:hover {
        border: none !important;
        background-color: $red_main;
      }
    }
  }

  select {
    border: none;
    width: 100%;
    font-weight: bold;
    color: #FFF;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    background-color: $red_dark;
    font-weight: 200;
  }

  input[type="text"], input[type="email"], input[type="tel"], textarea {
    border: none;
    border-bottom: 1px solid #a0a0a0;
    padding: 10px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    font-size: .9em;
    font-weight: 200;
  }

  textarea {
    height: 150px;
  }

  input[type="submit"] {
    margin-top: 20px;
    border: none;
    padding: 15px 40px;
    background-color: $red_light;
    transition: all .2s ease;
    text-align: center;
    color: #FFF;
    font-family: "Montserrat", sans-serif;    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 200;

    &:hover {

      background-color: $red_main;
    }
  }
}

.contact-bit {
  padding-left: 50px;
}