footer {
  width: 100%;
  height: 150px;
  background: $red_main;
  position: relative;

  nav {
    @extend %nav;

    display: none;
    background: $red_main;
    height: 100%;

    // 992px window width and more
    @include lg {
      display: block;

      .menu {
        flex-wrap: wrap;
        margin: auto;
        padding-top: 20px;

        li.menu-item {

          padding: 5px 0;

          a {
            color: $white;
            text-transform: uppercase;
          }

          a:hover {
            color: $red_dark;
          }

          a:hover:after {
            background: none;
            height: 0;
          }
        }

        li.menu-item:last-child {
          width: 100%;
          text-align: right;
          margin-top: -150px;
          padding: 15px 0;
        }

        li.menu-item-home {
          a {
            img {
              width: 150px;
              height: 100%;
            }
          }
        }

        li.menu-item-has-children {
          a:hover {
            color: $white;
          }

          ul {
            li.menu-item:last-child {
              width: initial;
              text-align: left;
              margin-top: 0;
            }

            a {
              text-transform: none;
              font-size: $font-size-xs;
              font-weight: normal;
            }

            a:hover {
              color: $red_dark;
            }
          }
        }

        li.menu-item-has-children > a:first-child {
          padding-bottom: 10px;
        }

      }

      div.go-up {
        width: 35px;
        height: 35px;
        background: #bf3e3c;
        position: absolute;
        right: 10%;
        bottom: 80px;

        div.arrow {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 15px solid #fff;
          margin-left: 7px;
          padding-top: 8px;
        }
      }

      div.go-up:hover {
        cursor: pointer;
      }
    }
  }

  .bottom {
    height: 150px;
    background: $red_medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .social-media {
      a {
        width: initial;

        i {
          color: $white;
          padding: 10px;
          margin: 0 10px;
          transition: $transition;
        }

        i:hover {
          cursor: pointer;
          background: $red_dark;
        }
      }
    }

    a {
      color: $red_dark;
      font-size: $font-size-xs;
      font-weight: $font-weight-bold;
      width: 100%;
      text-align: center;
    }

    a:hover {
      color: $red_light;
    }

    a:hover:after {
      background: none;
      height: 0;
    }

    // 992px window width and more
    @include lg {
      flex-direction: row;
      height: 60px;
      justify-content: space-between;
      padding: 0 10%;

      .social-media {
        order: 2;

      }

      .copyright {
        order: 1;
        width: initial;
      }

      .links {
        order: 2;

        a {
          text-align: right;
        }
      }
    }
  }

  // 992px window width and more
  @include lg {
    height: inherit;
  }

}