header {
  position: sticky;
  width: 100%;
  z-index: 2;

  div.head {
    position: relative;
    height: 50px;
    padding: 0 10%;
    background: $red_main;

    .hamburger {
      position: absolute;
      top: 50%;
      height: 25px;
      margin-top: -12.5px;

      div {
        position: absolute;
        height: 3px;
        width: 25px;
        background: $white;
        transition: $transition;
      }

      div:nth-child(1) {
        top: 0
      }

      div:nth-child(2), div:nth-child(3) {
        top: 8px
      }

      div:nth-child(4) {
        top: 16px
      }
    }

    .hamburger:hover {
      cursor: pointer
    }

    .hamburger.open {
      div:nth-child(1), div:nth-child(4) {
        top: 8px;
        opacity: 0
      }

      div:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
      }

      div:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
      }
    }
  }

  nav.main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: $white;

    li.current_menu_item {
      a {
        color: $red_main;
        font-weight: $font-weight-bold;
      }
    }

    li.menu-item {
      list-style-type: none;
      padding: 10px 0;

      a {
        color: $black;
      }
    }

    li.menu-item-has-children {
      li {
        margin-left: 25px;
      }
    }

    li.menu-item-has-children > a:first-child:after {
      content: '';
      display: block;
      position: relative;
      left: calc(100vw - 30vw);
      top: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $red_main;
      transition: $transition;
    }

    li.menu-item-has-children > a:first-child:hover:after {
      background: none;
    }

    li.menu-item-has-children > a.open:first-child:after {
      border-top: none;
      border-bottom: 10px solid $red_main;
    }
  }
}