header {
  position: sticky;
  width: 100%;
  z-index: 2;

  div.head {
    position: relative;
    height: 50px;
    padding: 0 10%;
    background: $red_main;

    .hamburger {
      position: absolute;
      top: 50%;
      height: 25px;
      margin-top: -12.5px;

      div {
        position: absolute;
        height: 3px;
        width: 25px;
        background: $white;
        transition: $transition;
      }

      div:nth-child(1) {
        top: 0;
      }

      div:nth-child(2), div:nth-child(3) {
        top: 8px;
      }

      div:nth-child(4) {
        top: 16px;
      }
    }

    .hamburger:hover {
      cursor: pointer;
    }

    .hamburger.open {
      div:nth-child(1), div:nth-child(4) {
        top: 8px;
        opacity: 0;
      }

      div:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      div:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  nav.main {
    @extend %nav;
    background: $white;

    .menu {
      flex-direction: column;

      li.menu-item {
        a {
          color: $black;
        }
      }

      li.menu-item-home {
        a {
          img {
            width: 80px;
            height: 80px;
          }
        }
      }

      li.current-menu-item, li.current-menu-parent {
        a {
          color: $red_light;
          font-weight: $font-weight-bold;
        }
      }

      li.menu-item-has-children {
        li {
          margin-left: 25px;

          a {
            color: $black;
            font-weight: $font-weight-light;
          }
        }
      }

      li.menu-item-has-children > a:first-child:hover {
        cursor: pointer;
      }

      li.menu-item-has-children > a:first-child:after {
        content: '';
        display: block;
        position: relative;
        left: calc(100vw - 30vw);
        top: -10px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $red_main;
        transition: $transition;
      }

      li.menu-item-has-children > a:first-child:hover:after {
        cursor: pointer;
        background: none;
      }

      li.menu-item-has-children > a.open:first-child:after {
        border-top: none;
        border-bottom: 10px solid $red_main;
      }
    }

    // 992px window width and more
    @include lg {
      .menu {
        flex-direction: row;

        li.menu-item {
          line-height: 80px;

          a:after {
            top: -20px;
          }
        }

        li.current-menu-item:after, li.current-menu-parent:after {
          content: '';
          display: block;
          top: -20px;
          bottom: 0;
          position: relative;
          right: 0;
          height: 2px;
          width: 100%;
          background: $red_light;
        }

        li.menu-item-home.current-menu-item:after {
          background: none;
        }

        li.menu-item-home {
          a {
            img {
              width: 80px;
              height: 80px;
            }
          }
        }

        li.menu-item-has-children {
          ul {
            background: $red_light;
            transition: $transition;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            display: block;
            margin-top: -20px;

            li.menu-item {
              margin-left: 0;
              padding: 10px;
              line-height: normal;

              a {
                color: $white;
                font-size: $font-size-xs;
                font-weight: $font-weight-bold;
                width: 100%;
              }

              a:hover {
                color: $red_dark;
              }

              a:hover:after {
                background: none;
                height: 0;
              }
            }
          }
        }

        li.menu-item-has-children > a:first-child:after {
          display: none;
        }

        li.menu-item-has-children > a:hover + ul, li.menu-item-has-children ul:hover {
          max-height: 100vh;
        }
      }
    }
  }
}