%nav {
  width: 80%;
  max-width: 1920px;
  margin: auto;

  .menu {
    display: flex;
    justify-content: space-between;

    li.menu-item {
      list-style-type: none;
      padding: 10px 0;

      a {
        font-weight: $font-weight-xtrabold;
        text-transform: uppercase;
      }

      @include lg {
        font-size: $font-size-xs;
      }

      @include xl {
        font-size: $font-size-small;
      }
    }

    li.menu-item-home {
      a:after {
        background: none;
      }

      a:hover:after {
        background: none;
      }
    }

    li.menu-item-has-children {
      ul {
        a {
          text-transform: none;
          font-weight: normal;
        }
      }
    }
  }
}
