.blog-post {
  margin: 50px auto;

  img {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  a.read-more-link {
    display: block;
    max-width: 115px;
    color: white;
    background: $red_light;
    padding: 5px 20px;
    font-weight: $font-weight-bold;
    font-size: $font-size-xs;
    margin-top: 20px;
  }

  a.read-more-link:hover {
    background: $red_medium;
  }

  a.read-more-link:hover:after {
    content: none;
  }

  @include lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      width: 40%;
      margin-right: 6%;
    }
  }
}