.blog-post {
  margin: 10px auto;

  img {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  a.read-more-link {
    display: block;
    max-width: 115px;
    color: white;
    background: $red_light;
    padding: 5px 20px;
    font-weight: $font-weight-bold;
    font-size: $font-size-xs;
    margin-top: 20px;
  }

  a.read-more-link:hover {
    background: $red_medium;
  }

  a.read-more-link:hover:after {
    content: none;
  }

  @include lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      width: 40%;
      margin-right: 6%;
    }
  }
}

.post-navigation {
  margin: 20px 0;

  h2 {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;

    a span {
      display: none;
      color: $black;
      font-weight: $font-weight-bold;
    }

    a:before {
      content: url("../img/navigation.png");
      display: block;
      position: relative;
    }

    a:after {
      content: none;
    }

    .nav-previous {
      a:before {
        transform: rotate(-90deg) scale(0.3);
      }
    }

    .nav-next {
      a:before {
        transform: rotate(90deg) scale(0.3);
      }
    }

    @include md {
      a span {
        display: inline-block;
      }

      .nav-previous {
        a:before {
          bottom: -50px;
          left: -70px;
        }
      }

      .nav-next {
        a:before {
          bottom: -55px;
          left: 85px;
        }
      }
    }
  }
}