.blog-post {

  .blog-post-image {
    background-position: center;
    background-size: cover;
    height: 300px;
    @include lg {
      height: auto;
    }
  }

  .blog-post-content {
    margin-top: 30px;
    padding: 0;
    h2 {
      text-transform: capitalize;
    }

    @include lg {
      margin-top: 0;
    }
  }

  hr {
    border-left: none;
    border-bottom: none;
    border-right: none;
    margin: 60px 0;
  }

  @include lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.blog-post:last-child {
  margin-bottom: 60px;

  .blog-post-content {
    margin-bottom: 60px;

    @include lg {
      margin-bottom: 0;
    }
  }

  hr {
    display: none;
  }
}

.post-navigation {
  margin: 20px 0;

  h2 {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;

    a span {
      display: none;
      color: $black;
      font-weight: $font-weight-bold;
    }

    a:before {
      content: url("../img/navigation.png");
      display: block;
      position: relative;
    }

    a:after {
      content: none;
    }

    .nav-previous {
      a:before {
        transform: rotate(-90deg) scale(0.3);
      }
    }

    .nav-next {
      a:before {
        transform: rotate(90deg) scale(0.3);
      }
    }

    @include md {
      a span {
        display: inline-block;
      }

      .nav-previous {
        a:before {
          bottom: -50px;
          left: -70px;
        }
      }

      .nav-next {
        a:before {
          bottom: -55px;
          left: 85px;
        }
      }
    }
  }
}