.content {
  width: 100%;

  .page-title {
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .blog-post-content {
    width: 100%;

    .sub-content {
      margin-bottom: 50px;

      .prices {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .price {
          background: $gray;
          margin: 10px 0;
          width: 100%;
          height: 150px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            text-align: center;
            color: $red_main;
            font-weight: $font-weight-bold;
          }

          p.price-tag {
            margin-bottom: 10px;
          }

          p.price-value {
            font-size: $font-size-medium;
          }
        }
      }
    }
  }

  @include md {
    .page-title {
      height: 400px;
    }

    .blog-post-content {

      .sub-content {

        .prices {

          .price {
            width: 20%;
          }
        }
      }
    }
  }
}