.content {
    min-height: calc(100vh - 350px);
    
  .page-title {
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: overlay;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include md {
    .page-title {
      height: 400px;
    }
  }
}
