.content {
  width: 100%;

  .page-title {
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .blog-post-content {
    width: 100%;


  }

  @include md {
    .page-title {
      height: 400px;
    }
  }
}