.page-shop {
    .col-md-10 {
        margin: auto;
        float: none;

        a {
            color: #555555;
            display: block;
            background: #E0E1E2;
            width: 25%;
            padding: 50px;
            margin-right: 20px;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 600;

            span {
                display: block;
                line-height: 10px;
                font-size: 1.2em;
            }
        }

        a:hover:after {
            display: none;
            height: 0;
        }

        a:nth-of-type(3n) {
            margin-right: 0;
        }
    }
}
