.submenu {
  text-align: right;

  h3 {
    font-size: 1em;
    color: #252525;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 20px;
  }

  ul {
    li {
      a {
        color: #555555;
        font-weight: bold;
        padding: 15px 0;

        &:hover {
          color: $red_light;
          border: none;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}

.line-wrapper {
  padding-left: 40px;
  border-left: 1px solid #d5d5d5;
}